
.searchtool {
    display: flex;
    flex-direction: column;

    &__nowrap {
        white-space: nowrap;
    }


    &__header {
        line-height: 2rem;

        &__postalcode {
            width: 5rem;
            text-align: center;
            text-transform: uppercase;
        
            &:focus:valid {
                background-color: var(--color-green-back-light);
            }

            &:focus:invalid {
                background-color: var(--color-red-back-light);
            }

            &::placeholder {
                opacity: 0.3;
            }
        
        }

    }

    &__results {
        margin-top: 2rem;
        font-size: 2rem;
    }


    
    &:has(&__header__postalcode:placeholder-shown) {
        .searchtool__header {
            &__validmark {
                display: none;
            }
        }
    }


    &:has(&__header__postalcode:valid) {
        .searchtool__header {
            &__validmark {
                &::before {
                    content: "✅";
                }
            }
        }
    }

    &:has(&__header__postalcode:invalid) {
        .searchtool__header {
            &__validmark {
                &::before {
                    content: "❌";
                }
            }
        }
    }

}


.resultmap {
    margin-top: 1rem;
    aspect-ratio: 4/3;
    // height: 60vh;
}


table.section_results {
    th {
        font-size: 1.5em;
    }
    
    tr {
        td:first-child {
            width: 1%;
            white-space: nowrap;
            padding-right: 1em;
            font-weight: bold;
        }
    }
}



body.dark .searchtool {
    &__header {
        &__postalcode {

            &:focus:valid {
                background-color: var(--color-green-back-dark);
            }

            &:focus:invalid {
                background-color: var(--color-red-back-dark);
            }
        
        }
    }
}



div.sectionselector {
    
    select {
        width: 100%;
        font-size: 1.5rem;
        // padding: 0.4rem;
    }
}