
.searchtool {
    display: flex;
    flex-direction: column;

    &__nowrap {
        white-space: nowrap;
    }


    &__header {
        line-height: 2rem;

        &__postalcode {
            width: 5rem;
            text-align: center;
            text-transform: uppercase;
        
            &:focus:valid {
                background-color: var(--color-green-back-light);
            }

            &:focus:invalid {
                background-color: var(--color-red-back-light);
            }

            &::placeholder {
                opacity: 0.3;
            }
        
        }

    }

    &__results {
        margin-top: 2rem;
        font-size: 2rem;
    }


    
    &:has(&__header__postalcode:placeholder-shown) {
        .searchtool__header {
            &__validmark {
                display: none;
            }
        }
    }


    &:has(&__header__postalcode:valid) {
        .searchtool__header {
            &__validmark {
                &::before {
                    content: "✅";
                }
            }
        }
    }

    &:has(&__header__postalcode:invalid) {
        .searchtool__header {
            &__validmark {
                &::before {
                    content: "❌";
                }
            }
        }
    }

}

.resultmap {
    position: relative;
    margin-top: 1rem;
    aspect-ratio: 4/3;
    position: relative;
    // height: 60vh;


}

.resultmap-toolbar-section-name {
    background-color: var(--main-color-alpha3);
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.35);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 70px);
    user-select: none;
    display: none;
    -webkit-appearance: none;
    appearance: none;

    @media (max-width: 576px)  {
        visibility: hidden;
    }
}

.resultinfo {
    margin-top: 1.5rem;
}


table.section_results {
    th {
        font-size: 1.5em;
    }
    
    tr {
        td:first-child {
            width: 1%;
            white-space: nowrap;
            padding-right: 1em;
            font-weight: bold;
        }
    }
}



body.dark .searchtool {
    &__header {
        &__postalcode {

            &:focus:valid {
                background-color: var(--color-green-back-dark);
            }

            &:focus:invalid {
                background-color: var(--color-red-back-dark);
            }
        
        }
    }
}



div.sectionselector {
    
    select {
        width: 100%;
        font-size: 1.5rem;
        // padding: 0.4rem;
        // display: none;
    }
}


div.savesection {
    margin-top: 1rem;
    button {
        width: 100%;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.shake {
    filter: blur(0.01rem);
    animation-name: shake;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center center;

}



@keyframes shake {
    0% {
        transform: translate(-1%, 1%) rotate(-3deg);
    }

    100% {
        transform: translate(1%, -1%) rotate(3deg);
    }
}