.DS_Store
.cache.db
.cookie.txt
Thumbs.db
/package-lock.json
/secrets.json
/node_modules/
/assets/maps/*.dbf
/assets/maps/*.prj
/assets/maps/*.shp
/assets/maps/*.shx
/assets/maps/*.xml
/assets/maps/fsa_subset_master.geojson
/assets/maps/section-*.geojson