:root {
  --logo: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1742'%3E%3Cpath fill='%23044c94' fill-rule='evenodd' d='M496.4 9.8 407.6 279l-85.8 259.5L399.4 780l88.8 276.7a415.1 415.1 0 0 0 12.3 35.3c.5 0 6-15.9 12.3-35.3L601.6 780l77.6-241.5L593.4 279 504.6 9.8a31.6 31.6 0 0 0-4.1-9.8c-.6 0-2.4 4.4-4.1 9.8M83.5 709.7l-12.2 1.8c-5 .8-13.1 2.7-18 4a141 141 0 0 0-34.6 16.3A132 132 0 0 0 5.5 743l-6 6.1 38.9 77.2c21.4 42.5 39.2 77.5 39.5 78 .4.4 6.5-.2 13.7-1.2 7-1.1 18.3-2.6 24.9-3.3l12-1.3h63l12.5 1.8a303.6 303.6 0 0 1 45 9.9 163.4 163.4 0 0 1 37.8 18.7 212 212 0 0 1 17.7 14 217.7 217.7 0 0 1 33 37.2c4.4 6 12 17.1 16.8 24.8a974 974 0 0 1 18.8 31.8l21.2 37 11 19.3H438l-.6-2.8-3-12.7a1151.5 1151.5 0 0 0-19.5-66.7 866 866 0 0 0-13.6-37.3 701.3 701.3 0 0 0-33.9-72.2 657.8 657.8 0 0 0-32.1-51.5 612.8 612.8 0 0 0-18.1-24l-10.6-13.3-19.5-19.5a438.3 438.3 0 0 0-30.1-27.6 315.5 315.5 0 0 0-70.8-41.3 272.7 272.7 0 0 0-35.4-10.6c-4-.9-13-2.2-19.8-3l-12.5-1.5-16 .1c-8.8.1-17.3.4-19 .6m785.5.7a309 309 0 0 0-16.5 2.6 295.9 295.9 0 0 0-37.6 11 315.7 315.7 0 0 0-49.4 26c-6 4-15.7 11-21.5 15.4a438.3 438.3 0 0 0-30 27.6l-19.6 19.5-10.6 13.3c-5.8 7.3-14 18-18 24a657.8 657.8 0 0 0-32.2 51.5 701.3 701.3 0 0 0-34 72.2 866 866 0 0 0-13.5 37.3 1026.8 1026.8 0 0 0-22.5 79.5l-.6 2.7h32.6l11.1-19.3 21.2-37c5.5-9.8 14-24 18.8-31.8 4.8-7.7 12.4-18.9 16.8-24.8a217.7 217.7 0 0 1 33-37.2c5-4.4 13-10.7 17.7-14a162.8 162.8 0 0 1 58.8-24.3 375 375 0 0 1 24-4.3l12.5-1.8h63l12 1.3a752.3 752.3 0 0 1 38 5.2c.2 0 17.7-34.4 39-76.4 21.1-42 38.5-77.5 38.5-78.8v-2.5l-6.3-6a106.3 106.3 0 0 0-28.1-18.9 144.7 144.7 0 0 0-35.3-11l-8.8-1.6-21-.4-21-.3-10.5 1.3M282.4 1128a56 56 0 0 0-19.9 4.7c-1.6.8-4.3 2.7-5.8 4.2a27.4 27.4 0 0 0-4.8 6.3c-1 2-2.2 6-2.5 9l-.6 5.5 1.1 5.4c.7 3 2.3 7 3.6 9l2.4 3.7 5.3 2.6c3 1.4 7.8 3 10.8 3.6 3 .6 17 1.7 31 2.5l25.5 1.3 1.7 2.2a8 8 0 0 1 1.8 4c0 1-.4 3-1 4.4l-1 2.5-4.1 1.1-4.3 1.2-14.6-.4-14.6-.3-2.7-1.8-2.7-1.7v-6h-38.3l.6 5.2c.4 2.8 1.8 7.6 3.3 10.6l2.6 5.4 4.7 3a51 51 0 0 0 10.1 4.6l5.5 1.7h62l8-1.9a90 90 0 0 0 12-3.6c2.2-1 5.2-2.9 6.7-4.2 1.4-1.4 3.4-4 4.4-6l1.7-3.3v-9c0-5-.5-10.7-1.2-12.7-.6-2-3-5.3-5.1-7.2l-4-3.5-5.2-1.5c-3-.8-8.9-2-13.3-2.5-4.4-.6-16.9-1.5-27.7-2-10.8-.6-20.8-1.5-22.2-2l-2.5-1-.7-2.6a14 14 0 0 1 0-5l.6-2.3 3.3-1a67 67 0 0 1 10.3-1.6c4-.3 10.7-.3 15 0l7.7.7 1.9 1.9c1 1 1.8 3 1.8 4.3v2.5l18.8-.2 18.7-.3-.2-5.7-.2-5.6-2-3.9c-1-2-3-4.8-4.3-6a30 30 0 0 0-5.5-3.7 61 61 0 0 0-9.5-3.2l-6.3-1.5-24-.4c-13.2-.2-27.6 0-32.1.5m133.1 0c-4.4.5-10.8 1.8-14.3 2.8a39 39 0 0 0-9.8 4.7l-3.6 2.8-2.4 5-2.4 5.2v7c0 3.8.5 8.8 1.1 11l1.1 4 4.2 4 4.2 4 5.4 1.8c3 1 10 2.2 15.5 2.8a740 740 0 0 0 28 1.8l18.1.8 2.2 1.2 2.2 1.2v8.6l-2.1 1.9-2.1 1.9h-36l-2.4-2.8c-1.3-1.5-2.4-3.7-2.4-4.8v-1.9h-37.3l.6 5.8a30 30 0 0 0 2.6 10c1.1 2.2 3.7 5.4 5.8 7.1 2.1 1.8 6.7 4.1 10.3 5.3l6.5 2.1 27 .4 27 .5 10-1.6c5.6-.8 12.7-2.5 15.9-3.6 3.2-1.2 7.3-3.5 9.1-5.1a22 22 0 0 0 5-7.4l1.7-4.4-.4-9.4-.4-9.3-2-3.4a21 21 0 0 0-5.4-5.8 37.6 37.6 0 0 0-8.3-3.7c-2.8-.8-8.6-2-13.1-2.5s-17.1-1.4-28.1-2l-20-1.1-2.3-1.5-2.3-1.5.3-4.2.3-4.2 2.9-1.4 2.9-1.3 14.2-.1 14.2-.1 2.6 1.6 2.5 1.7.7 3 .7 3.1H500v-10.6l-2.5-5-2.6-5.2-3.7-2.5c-2-1.4-6-3.2-8.7-4a86 86 0 0 0-14.5-2.7 379.4 379.4 0 0 0-52.5 0m157.5 34.4v34.4l-1.7 1.3-1.6 1.4H554l-1.8-1.8-1.7-1.7-.4-7-.4-7h-37.1l.7 10.8.6 10.7 2.6 5.3 2.5 5.2 4.4 2.5a48 48 0 0 0 11.6 4.1l7.4 1.6 23.5-.5 23.5-.4 5-1.6c2.9-1 6.7-2.7 8.6-4a23 23 0 0 0 5.9-6.7l2.5-4.5.3-38.3.3-38.2h-39v34.4m60 12.5v47.1h41.3c22.6 0 45.5-.5 50.7-1 5.2-.6 11.7-1.7 14.4-2.6l4.8-1.6 3.7-3.7 3.6-3.6 1.3-4.1c.6-2.3 1.2-7 1.2-10.3a31 31 0 0 0-1.4-9.5c-.8-1.8-2.6-4.5-4.1-5.9-1.5-1.4-4.9-3-7.4-3.7l-6.1-1.7-1.5-.4 5.3-1.8c2.8-1 6.2-2.7 7.3-3.7 1.2-1 3-3.7 4-5.9l1.9-4v-5a41 41 0 0 0-1.1-9l-1.1-4-4.2-4-4.2-4.1-6-1.9-5.9-1.9-48.3-.3-48.2-.4v47m38-18v8.2l18.9-.3 18.9-.3 2.1-1.9 2.1-2v-3.6c0-2-.6-4.5-1.4-5.6l-1.4-1.9-19.6-.3-19.6-.4v8.2m0 34.5v8.6l19.9-.3 19.9-.3 2.1-1.9 2.1-2v-8.3l-2.1-1.9-2.1-1.9-19.9-.3-19.9-.4v8.7m-266.5 66.8-2 6.7a135.4 135.4 0 0 1-18.7 34.2c-4 5.3-11.3 14.2-16.2 19.7a452.2 452.2 0 0 1-44.3 42.8l-10.1 8.5 11.2 23.1a4993 4993 0 0 0 15.2 31 28 28 0 0 0 4.8 7.7c.5 0 4-2.6 7.9-5.7a281.5 281.5 0 0 0 31.8-32 316.2 316.2 0 0 0 25.8-36.5 388.9 388.9 0 0 0 24.6-52.3 346.3 346.3 0 0 0 12-43.8l.7-4.7H405l-.4 1.3m150 3.4a354 354 0 0 0 12 43.8c2.5 7.2 8.8 21.5 14 32l9.4 19 8.6 13c4.7 7 12 17.2 16.3 22.4a300.5 300.5 0 0 0 33.9 34.3 44 44 0 0 0 8 5.8 28 28 0 0 0 4.7-7.8c2.2-4.2 9-18.1 15.2-30.9l11.2-23.1-10.1-8.5a452.2 452.2 0 0 1-44.3-42.8 383 383 0 0 1-16.1-19.7 120.7 120.7 0 0 1-18.9-34.6l-2.2-7.1-21.2-.3-21.2-.2.7 4.7m-65.6 25.6-51.8 137.3-41.2 109 51.7 104.2a3312.5 3312.5 0 0 0 52.9 104.2c.6 0 24.4-46.9 52.9-104.2l51.7-104.2-41.2-109-51.8-137.3c-5.8-15.6-11-28.3-11.6-28.3-.6 0-5.8 12.7-11.6 28.3'/%3E%3C/svg%3E");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(0deg, #044c94, #044c94), linear-gradient(0deg, #044c94, #044c94);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: 100% 5%, 100% 5%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 80vh;
  background-image: var(--logo);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation-name: logo-start;
          animation-name: logo-start;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logo-start {
  from {
    transform: translate(-50%, -50%) scale(0.001);
    filter: blur(50px);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
  }
}

@keyframes logo-start {
  from {
    transform: translate(-50%, -50%) scale(0.001);
    filter: blur(50px);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
  }
}